{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.11abef6d-e4ca-4d64-805e-67e15a62f313",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.19224787-fc78-47c5-82f7-22a485bb41f8",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}