{
  "pid": "bw.application.PaymentHub_AccountLookUp.application_1.0",
  "properties": {
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DOMAIN.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DOMAIN.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueOut": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueOut",
      "value": "Q_OUT_VERIFY_ACCOUNT",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/TransactionTimeOut": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/TransactionTimeOut",
      "value": "180",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/ServerChannelName": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/ServerChannelName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/Password": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/Password",
      "value": "#!W7oPzJ92MZEqXrJO7gmVBkt99V49BiYFh5mMErWlzsw=",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.HOST.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxRow": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxRow",
      "value": "100",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/Password": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/Password",
      "value": "{http:\/\/ns.tibco.com\/bw\/property}password",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/Port": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/Port",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/TransactionTimeOut": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/TransactionTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueOut": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "PaymentHub_AccountLookUp.application",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/Port": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/Port",
      "value": "1414",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.VERSION": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxConnection": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxConnection",
      "value": "10",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.APPSPACE.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.APPSPACE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/HostName": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/HostName",
      "value": "10.1.143.154",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "PaymentHub_AccountLookUp.application",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.HOST.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueIn": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueIn",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.APPNODE.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.DOMAIN.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.DOMAIN.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.TYPE": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.TYPE",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/URL": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/URL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.PaymentHub_AccountLookUp.application_1.0",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueIn": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/AcctLookupQueueIn",
      "value": "Q_IN_VERIFY_ACCOUNT",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/ServerChannelName": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/ServerChannelName",
      "value": "GPP_TRAINING.CH",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/UserName": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/UserName",
      "value": "vcbview1",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/LoginTimeOut": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/LoginTimeOut",
      "value": "30",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/UserName": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/UserName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxConnection": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxConnection",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/BW.APPSPACE.NAME": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/BW.APPSPACE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/URL": {
      "name": "\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/URL",
      "value": "jdbc:tibcosoftwareinc:oracle:\/\/10.1.137.62:1521;ServiceName=vcbcore",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/HostName": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/GPP\/MQ\/HostName",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/LoginTimeOut": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/LoginTimeOut",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxRow": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/\/VCBCORE\/MaxRow",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".type.\/\/PaymentHub_AccountLookUp\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/PaymentHub_AccountLookUp\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    }
  }
}